*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.color-10 {
  background: #c74c64;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
  text-align-last: auto;
  color: #000000;
}

/* Effect 10: reveal, push out */
.cl-effect-10 {
  position: relative;
  height: 40px;
  z-index: 1;
}

.cl-effect-10 a {
  overflow: hidden;
  margin: 0 15px;
}

.cl-effect-10 a span {
  display: block;
  color: white;
  padding: 5.2px 35px;
  background: #c74c64;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.G {
  display: unset !important;
  color: black !important;
  padding: 0;
  background: #c74c6400;
}

.cl-effect-10 a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  /* background: #fff; */
  color: #000000;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  /* -webkit-transform: translateX(-25%); */
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

/* .navbar {
  padding-top: 0;
} */

.navbar-brand {
  font-weight: 600;
  padding-bottom: 0;
  padding-top: -0.35em;
  background-color: #c74c64;
}

li.nav-item {
  padding-top: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .nav-link {
    padding: 0;
  }
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

li > a.nav-link {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
}

.bg-light {
  background: #c74c64;
}

@media (min-width: 992px) {
  .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

/****************

***************/

span.spanCat {
  padding: 5.2px 0.4em;
}

/* .color-10 {
  margin-top: 10px;
} */

.navbar-toggler {
  padding: 0;
}
.navbar-brand {
  margin-top: 0px;
}

li > a.nav-link {
  max-height: 2.1em;
}

ul.navbar-nav {
  max-height: 3em;
}

li.nav-item {
  max-width: 10em;
}
