@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* {
  box-sizing: border-box;
}

.cardProduct {
  top: 50%;
  left: 50%;
  width: 80em;
  padding: 0.7em;
  min-width: 60em;
  flex: 0 0 auto;
  margin: 5em auto;
  background: white;
  transition: all 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /*change*/
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}

.cardProduct:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navProduct {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

svg.heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

svg.heart:hover {
  fill: red;
}

svg.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.photo {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: right;
}

.imgProduct {
  max-height: 25em;
}

.description {
  padding: 30px;
  float: left;
  width: 50%;
  height: 30em;
  overflow: auto;
  text-align: center;
  border-right: 2px solid #efefef;
}

.description > h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.description > h2 {
  margin: 0;
  font-weight: 500;
  color: #515151;
  text-transform: uppercase;
}

.description > h4 {
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.description > p {
  margin: 0;
  width: 30em;
  font-size: 14px;
  padding: 20px 0;
  overflow: hidden;
  min-height: 10em;
  color: #727272;
  line-height: 20px;
  text-align: right;
  /* max-height: 17em; */
}

.description > button {
  border: 0;
  outline: 0;
  width: 125px;
  background: none;
  padding: 8px 0px;
  font-weight: 500;
  color: #515151;
  margin-right: 5px;
  margin-bottom: 30px;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: 1px solid #d9d9d9;
}

.description > button:hover {
  color: #dd8094;
  cursor: pointer;
  border: 1px solid #dd8094;
}

button.btn-outline-danger {
  margin-top: 1.4em;
}
