/* table {
  border: 1px solid rgb(48, 48, 48);
} */

@media (min-width: 768px) {
  .col-sm-8 {
    width: 66.66666667%;
  }
}

.ShoppingCart_table_title {
  padding: 0.5em;
  text-align: right;
  margin-top: 3.5em;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.c-bag-table {
  width: 100%;
  font-size: 14px;
}

.c-bag-table thead th {
  height: 36px;
  line-height: 36px;
  color: #999;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.thead-table {
  font-size: 1.5em;
}

.tbodt-table {
  font-weight: 300;
  font-size: 1.27em;
}

.col-xs-6 {
  min-width: 40%;
}

.col-xs-2,
.col-xs-6 {
  float: right !important;
}

.col-xs-4 {
  width: 10em;
}
.col-xs-2 {
  width: 18%;
}

.good-total {
  width: 5em;
}

.col-sm-8,
.col-xs-2,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.i-img {
  width: 115px;
  height: 152px;
  position: relative;
  overflow: hidden;
}

.mini-img {
  max-width: 10em;
  min-width: 10em;
}

.col-sm-10 {
  max-width: 40em;
}

.big-div {
  margin-right: 1em;
}

.totalLine {
  line-height: 2em;
  background-color: rgb(226, 226, 226);
}

.total-price {
  min-width: 20em;
}

.btnmyheaderPink.end-btn {
  margin-top: 3em;
}
